//MAG Colors
$mag-color-1: #7ebac5;
$mag-color-2: #018a9a;
$mag-color-3: #249db0;

//Social Media
$email: #efbe00;
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #bb0000;
$linkedin: #0077b5;
$googleplus: #db4437;
$share: #8fc33b;
